html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.registrationPage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 3s ease-in-out; /* Smooth transition for background image */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity and color as desired */
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerContainer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 500px;
    background-color: #ffffffc7; /* Nearly transparent white background */
    border-radius: 10px;
    box-shadow: 0px -1px 38px 1px rgba(0,0,0,0.83);
    -webkit-box-shadow: 0px -1px 38px 1px rgba(0,0,0,0.83);
    -moz-box-shadow: 0px -1px 38px 1px rgba(0,0,0,0.83);
}

.inputField{
    margin: 0 25px 0 25px;
    width: 450px;
    height: 30px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid gray;
    background: transparent;
}

.inputField:focus{
    outline: none;
    border-bottom: 1px solid green;
}

.inputField::placeholder{
    color: gray;
}

.registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.submit-button{
    margin-top: 20px;
    width: 100px;
    padding: 10px;
    background-color: green;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 20px;
}


/* LOGIN PAGE CSS */

.loginPage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 3s ease-in-out; /* Smooth transition for background image */
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px -1px 38px 1px rgba(0,0,0,0.83);
    -webkit-box-shadow: 0px -1px 38px 1px rgba(0,0,0,0.83);
    -moz-box-shadow: 0px -1px 38px 1px rgba(0,0,0,0.83);
}

.header{
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.line{
    border: 1px solid black;
    width: 500px;
}

/* .form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
} */

/* .label{
    margin-left: -140px;
    font-weight: 400;
    padding: 10px;
} */

/* .label {
    display: block;
    margin-left: -130px;
    font-weight: bold;
    padding: 10px;
  } */

/* .inputField{
    width: 300px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid gray;
    background: transparent;
}

.inputField:focus{
    outline: none;
    border-bottom: 2px solid green;
} */

.submit{
    margin-top: 20px;
    width: 200px;
    padding: 10px;
    background-color: green;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}
/* 
.forgot-link {
text-align: center;
margin-top: 25px;
color: blue;
font-size: 15px;
}

.forgot-link a {
text-decoration: none;
}

.forgot-link a:hover {
font-weight: 500;
}  */
